/* место для вашего кода */
.content-section {
  background-color: aqua;
  min-height: 100px;
  border: 1px solid red;
  font-size: 10px;
}

.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  list-style-type: circle;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
}

.address {
  font-style: normal;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.move_top {
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title {
  padding: 165px 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  display: block;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 1ch;
}

.bet-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 22px;
  padding: 5px;
  min-width: 256px;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.lots__list-item {
  width: 334px;
  min-height: 596px;
  position: relative;
}

.card-link {
  height: 100%;
}

.card {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  padding: 48px 40px;
  text-decoration: underline;
}

.card__text {
  padding: 48px 40px;
}
